

html, body {
	height: 100%;
	width: 100%;
}
.header-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
}

header {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	height: 45px;
	margin: 0 auto;
	font-family: Georgia, serif;
	font-size: 19px;
	color: white;
	background: #4c4c4c;</font></font>
	background:-moz-linear-Grading (-45deg, # 4c4c4c 0%, 15% # 111111, # 2c2c2c 50%, 76% 2b2b2b #, # 1c1c1c 91%, # 131313 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4c4c4c), color-stop(15%,#111111), color-stop(50%,#2c2c2c), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
	background:-webkit-linear-Grading (-45deg, # 4c4c4c 0%, 15% # 111111, # 2c2c2c 50%, 76% 2b2b2b #, # 1c1c1c 91%, # 131313 100%);
	background:-o-linear-Grading (-45deg, # 4c4c4c 0%, 15% # 111111, # 2c2c2c 50%, 76% 2b2b2b #, # 1c1c1c 91%, # 131313 100%);
	background:-ms-linear-Grading (-45deg, # 4c4c4c 0%, 15% # 111111, # 2c2c2c 50%, 76% 2b2b2b #, # 1c1c1c 91%, # 131313 100%);
	background: linear-Grading (135deg, # 4c4c4c 0%, 15% # 111111, # 2c2c2c 50%, 76% 2b2b2b #, # 1c1c1c 91%, # 131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 );
}

header li {
	display: inline-block;
	/*margin: 15px;*/
}

.right {
	float: right;
}
.left {
	float: left;
}
.content-wrapper {
	margin-top: 70px;
	height: 85%;
	width: 100%;
}

.question-counter {
	font-family: Georgia, serif;
	text-align: right;
	margin: 15px;
}

.questions {
	width: 80%;
	max-width: 600px;
	min-width: 500px;
	margin: 0 auto;
	height: 50%;
}

.question {
	border: 10px solid #384047;
	height: 85%;
}

.choices {
	width: 80%;
	min-width: 500px;
	max-width: 600px;
	margin: 10px auto;
	border: 1px solid SlateGray;
}

.choice {
	background-color: rgb(40, 89, 122);
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	border-radius: 3px;
	border-top: 1px solid #96d1f8;
	color: rgb(204, 204, 204);
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	font-size: 19px;
	font-family: Georgia, serif;
	text-align: center;
	padding: 10px;
	margin: 8px;
}

.choice:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}